*,
*::before,
*::after {
	box-sizing: border-box;
}
:root {
	--color-body: linear-gradient(135deg, #abbda1, #c9dbbf);
	--color-container: rgba(64, 73, 59, 0.9);
	--color-element1: rgb(168, 126, 121, 0.7);
	--color-border1: #5c4750;
	--color-element2: rgb(90, 46, 54, 0.8);
	--color-element3: rgb(166, 199, 151, 1);
	--color-border3: #8cac7b;
	--color-element4: rgb(154, 173, 147, 1);
}
html,
body {
	min-height: 100vh;
}
body {
	background-image: var(--color-body);
	background-repeat: no-repeat;
	background-size: cover;
}
.container {
	width: 50vw;
	min-height: 70vh;
	border: 2px solid black;
	margin: 5% auto;
	padding: 2rem 4rem;
	/* Glassmorphism effect */
	backdrop-filter: blur(16px) saturate(180%);
	-webkit-backdrop-filter: blur(16px) saturate(180%);
	background-color: var(--color-container);
	border-radius: 12px;
	border: 1px solid rgba(255, 255, 255, 0.125);
	display: grid;
	grid-template-rows: auto 1fr auto;
	gap: 0.4rem;
}

.search--inp {
	margin-top: 30px;
	margin-bottom: 30px;
	border: 2px solid #5c4750;
	border-radius: 12px;
	min-height: 3rem;
	min-width: 40%;
	background-color: var(--color-container);
	padding: 0.5rem;
}

header {
	padding: 0 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 1rem;
	background-color: var(--color-element3);
}
.searchEl {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 0.2rem;
}
.main-content {
	border-radius: 1rem;
	background-color: var(--color-element2);
}
.footer {
	border-radius: 1rem;
	min-height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--color-element4);
}

@media screen and (max-width: 800px) {
	.container {
		width: 95vw;
	}
	.search--inp {
		min-width: none;
	}
	.container {
		padding: 1rem 1rem;
	}
}
